Printing

In [2]:
println("Hello World")

Hello World

Variable Types

In [3]:
number = 12
typeof(number)

Int64

In [4]:
pii = 3.14159
typeof(pii)

Float64

In [5]:
pi

π = 3.1415926535897...

In [6]:
name = "John"
typeof(name)

String

Basic Arithmetic

In [7]:
3+7

10

In [8]:
10/2

5.0

In [9]:
5^2

25

In [10]:
101%3

2

String Interpolation

In [11]:
name = "Sam"
age = 16
println("Hello, my name is $name and I'm $age today.")

Hello, my name is Sam and I'm 16 today.

Data Structures

In [12]:
myphonebook = Dict("Jenny" => "867-5309", "Jimmy" => "555-2368")

Dict{String,String} with 2 entries:
  "Jenny" => "867-5309"
  "Jimmy" => "555-2368"

In [13]:
myphonebook["Kenny"] = "565-2576"

"565-2576"

In [14]:
myphonebook

Dict{String,String} with 3 entries:
  "Jenny" => "867-5309"
  "Kenny" => "565-2576"
  "Jimmy" => "555-2368"

In [15]:
pop!(myphonebook,"Kenny")
myphonebook

Dict{String,String} with 2 entries:
  "Jenny" => "867-5309"
  "Jimmy" => "555-2368"

In [16]:
myfriends = ["Ted", "Robyn", "Barney", "Lily", "Marshall"]

5-element Array{String,1}:
 "Ted"
 "Robyn"
 "Barney"
 "Lily"
 "Marshall"

In [17]:
push!(myfriends, "Arlyn")

6-element Array{String,1}:
 "Ted"
 "Robyn"
 "Barney"
 "Lily"
 "Marshall"
 "Arlyn"

In [18]:
pop!(myfriends)
myfriends

5-element Array{String,1}:
 "Ted"
 "Robyn"
 "Barney"
 "Lily"
 "Marshall"

In [19]:
rand(3,2)

3×2 Array{Float64,2}:
 0.622525   0.390962
 0.0904366  0.231422
 0.733867   0.994087

In [20]:
rand(3,2,4)

3×2×4 Array{Float64,3}:
[:, :, 1] =
 0.500047  0.632166
 0.776047  0.518182
 0.994325  0.279123

[:, :, 2] =
 0.967116  0.19656
 0.163616  0.68246
 0.900393  0.467503

[:, :, 3] =
 0.494058   0.159356
 0.0765495  0.841813
 0.464662   0.122167

[:, :, 4] =
 0.535162  0.684853
 0.756968  0.445348
 0.214509  0.0442152

Loops

In [21]:
n = 0
while n < 10
    global n += 1
    println(n)
end
n

1
2
3
4
5
6
7
8
9
10

10

In [ ]:
for n in 1:10
    println(n)
end

Conditionals

In [23]:
x = 16
y = 12

12

In [24]:
if x > y
    x
else
    y
end

16

In [25]:
(x > y) ? x : y
#&& = and
#|| = or

16

Functions

In [26]:
function f(x)
    x^2
end

f (generic function with 1 method)

In [27]:
f(3)

9

In [28]:
g(x) = x^2

g (generic function with 1 method)

In [29]:
g(5)

25